body {
  font-family: "Crafty Girls", cursive;
  font-weight: 400;
  font-style: normal;
}
#titulo-principal{
    color: #ff0000;
}
.box {
  width: 100px;
  height: 100px;
}

.red-box {
  background-color: red;
}

.blue-box {
  background-color: blue;
}